@model IEnumerable<HotelsSearchViewModel.Datum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    int number =0;
}






<h1>Booking Otel Rezervasyon Sayfası</h1>

<h3>Arama Yapılan Şehir: Paris/Fransa</h3>






<table class="table table-striped">

    <tr>
        <th>Otel ismi</th>
        <th>lokasyon adresi</th>
        <th>ülke bilgisi</th>
        <th>Dünya Sıralması</th>
        <th>Size Olan Mesafesi</th>
        <th>Detaylar</th>


    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@item.name</td>
            <td>@item.location_string</td>
            <td>@item.timezone</td>
            <td>@item.ranking_position</td>
            <td>@item.distance</td>
            <td> <a href="#" class="btn btn-outline-dark">Detaylar</a> </td>

        </tr>
    }
</table>


 